body {
    font-family: 'Poppins', sans-serif;
    background-color: #2a2d35;
    color: #e0e0e0;
    text-align: center;
    padding: 20px;
    margin: 0;
}

.container {
    background: #383c48;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    margin: 50px auto; 
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #ffffff;
}

label {
    font-weight: bold;
    font-size: 1.1em;
    color: #dcdcdc;
    margin-bottom: 10px;
    display: block;
}

select, button {
    width: 100%;
    padding: 14px;
    font-size: 1em;
    border-radius: 6px;
    border: none;
    margin-bottom: 15px;
}

select {
    background: #454954;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s;
}

select:hover {
    background: #535766;
}

.button-reset {
    background: #ffd58c;
    color: #404552;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 20px;
    
}

.button-reset:hover {
    background: #ffd58c;
}

.explicacao {
    background: #404552;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    display: none;
    transition: opacity 0.4s ease-in-out;
}

.mapaMental img {
    width: 100%;
    border-radius: 8px;
}

.footer {
    background-color: #22252b;
    color: #f8f8f8;
    text-align: center;
    padding: 1rem;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 1em;
}


@media (max-width: 768px) {
    .container {
        padding: 20px;
        max-width: 95vw;
        margin-top: 50px;
    }

    h1 {
        font-size: 1.4em;
    }

    select, button {
        font-size: 0.85em;
        padding: 10px;
    }

    .explicacao {
        padding: 15px;
    }

    .mapaMental img {
        max-width: 100%;
        height: auto;
    }

    .footer {
        font-size: 0.8em;
        padding: 10px;
        position: relative;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 15px;
        margin-top: 40px;
    }

    h1 {
        font-size: 1.2em;
    }

    select, button {
        font-size: 0.8em;
        padding: 8px;
    }

    .footer {
        font-size: 0.75em;
    }
}
